on init
#mount secure storage partition for teeos
     mkdir /sec_storage
     mount ext4 /dev/block/bootdevice/by-name/secure_storage /sec_storage nosuid nodev noatime wait crypt discard,auto_da_alloc,mblk_io_submit,data=journal,context=u:object_r:teecd_data_file:s0
     chown root root /sec_storage
     chmod 600 /sec_storage

#add for TrustedCore driver
    chmod 0400 /dev/hisi_teelog

#secure os tee agent
service teecd /vendor/bin/teecd
    class core
    user root
    group root readproc
    seclabel u:r:tee:s0


#android gatekeeper rc
service gatekeeper-1-0 /vendor/bin/hw/android.hardware.gatekeeper@1.0-service
    class hal
    user system
    group system
    seclabel u:r:recovery:s0

#servicemanager rc
service servicemanager /sbin/servicemanager
    class core animation
    user root
    group root readproc
    critical
    seclabel u:r:recovery:s0
	
#recovery init rc
service hwservicemanager /sbin/hwservicemanager
    user root
    group root
    disabled
    onrestart setprop hwservicemanager.ready false
    seclabel u:r:recovery:s0	
	
#keymaster rc
service keystore_auth /sbin/keystore_auth
    oneshot
    user system
    group root
    disabled
    seclabel u:r:recovery:s0

service keystore /sbin/keystore /data/misc/keystore
    user root
    group root drmrpc readproc
    disabled
    seclabel u:r:recovery:s0

service keymaster-3-0 /vendor/bin/hw/android.hardware.keymaster@3.0-service
    class early_hal
    user system
    group system drmrpc log
    seclabel u:r:recovery:s0
	
#init.recovery.huawei.rc
service oeminfo_nvm /sbin/oeminfo_nvm_server
    critical
    ioprio rt 4
    seclabel u:r:oeminfo_nvm:s0	

service fixsysven /sbin/fixsysven.sh
    oneshot
    disabled
    seclabel u:r:recovery:s0
	
on fs
    wait /dev/block/bootdevice/by-name/oeminfo
    start oeminfo_nvm	
	
on post-fs-data
    mkdir /system
    mkdir /vendor
    mkdir /data
    start teecd
    
    # We chown/chmod /data again so because mount is run as root + defaults
    chown system system /data
    chmod 0771 /data
    # We restorecon /data in case the userdata partition has been reset.
    restorecon /data
	
on late-fs
    # HALs required before storage encryption can get unlocked (FBE/FDE)
    class_start early_hal

on property:twrp.decryptdone=true
        stop update_engine
	stop gpuassistant
	stop lmkd
	stop hidl_memory
        stop surfaceflinger
	stop webview_zygote32
	stop webview_zygote64
	stop system_teecd
	stop vold_recovery
	stop vold
	stop teecd
        stop gatekeeper-1-0
        stop keymaster-3-0
        stop servicemanager
        stop hwservicemanager
        umount /vendor
	umount /system
	start fixsysven
